@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  @apply w-full border border-slate-300 rounded-lg px-3 py-2 text-sm
  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500;
}
